
{% extends 'base_Sangit.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>


{% block content %}
    <h1>Here are the upcoming seminars and workshops:</h1>
<div id="result" style="color: #3a5363"></div>
<script>
    var getJSON = function(url) {
  return new Promise(function(resolve, reject) {
    var xhr = new XMLHttpRequest();
    xhr.open('get', url, true);
    xhr.responseType = 'json';
    xhr.onload = function() {
      var status = xhr.status;
      if (status == 200) {
        resolve(xhr.response);
      } else {
        reject(status);
      }
    };
    xhr.send();
  });
};

 var jsonData=getJSON('https://access.alchemyapi.com/calls/data/GetNews?apikey=23c31ddddd5b9d38a1b019714385c147b2b7a072&return=enriched.url.title,enriched.url.url&q.enriched.url.title=[workshop^seminar]&q.enriched.url.enrichedTitle.taxonomy.taxonomy_.label=technology%20and%20computing&count=10&outputMode=json&start=now-12h&end=now&q.enriched.url.docSentiment.type=positive').then(function(data) {


    for(var i=0; i<data.result.docs.length; i++)
     {
         //result.innerText = data.results.docs.id; //display the result in an HTML element
         result.innerText = data.status;

     }
}, function(status) { //error detection....
  alert('Something went wrong.');
});
</script>
{% endblock %}
</body>

</html>
